# Lists and Sequences

## Lists

In [2]:
l = list ()
list1 = [1,2,3, 4]
list1.append (10)
list1

[1, 2, 3, 4, 10]

In [3]:
list2 = list1*2
list2

[1, 2, 3, 4, 10, 1, 2, 3, 4, 10]

In [4]:
min(list1)

1

In [5]:
max (list1)

10

In [7]:
list1.insert(2,10)
list1

[1, 2, 10, 10, 3, 4, 10]

In [10]:
list.reverse
list1

[1, 2, 10, 10, 3, 4, 10]

In [12]:
list2= [11, 12]
list1.extend(list2)
list1

[1, 2, 10, 10, 3, 4, 10, 11, 12, 11, 12]

In [13]:
sum(list1)

86

In [14]:
len(list1)

11

In [16]:
list1.sort()
list1

[1, 2, 3, 4, 10, 10, 10, 11, 11, 12, 12]

In [17]:
list1.remove(12)
list1

[1, 2, 3, 4, 10, 10, 10, 11, 11, 12]

## Tuples

In [18]:
t = tuple ()
type (t)

tuple

In [20]:
t = ('a',)
t

('a',)

In [21]:
print('type is ', type(t))

type is  <class 'tuple'>

In [22]:
tpl=('a','b','c')

In [23]:
tuple('sequence')
tuple

tuple

In [24]:
x,y,z= tpl
print (x)
print (y)
print (z)

a
b
c

In [25]:
'a' in tpl

True

In [26]:
'z' in tpl

False

In [29]:
tupl = 1, 2,3,4,5
print (f'the value of the tuple is {tupl[1]}')

the value of the tuple is 2

In [31]:
print (f'tuple[1:3] is {tupl[1:3]}')

tuple[1:3] is (2, 3)

In [33]:
tupl2 = (11, 12,13)
tupl3 = tupl + tupl2
print (tupl3)

(1, 2, 3, 4, 5, 11, 12, 13)

In [34]:
print (tupl*2)
print (5 in tupl)

(1, 2, 3, 4, 5, 1, 2, 3, 4, 5)
True

In [35]:
print (f'El reverse indexing de una tupla es: {tupl[-1]}')
print (f'La longitud de una tupla es: {len(tupl)}')
print (f'El valor máximo de una tupla es: {max(tupl)}')
print (f'El valor mínimo de una tupla es:{min(tupl)}')

El reverse indexing de una tupla es: 5
La longitud de una tupla es: 5
El valor máximo de una tupla es: 5
El valor mínimo de una tupla es:1

In [36]:
tupl[1] = 5

TypeError: 'tuple' object does not support item assignment

In [38]:
print (tupl == tupl2)

False

In [39]:
l = [1, 2]
x, y= l
x,y= y,x
print (x, y)

2 1

## Dictionaries

In [40]:
a = {
    'Monday': 1, 
    'Tuesday': 2,
    'Wedensday': 3
}

print (a)

{'Monday': 1, 'Tuesday': 2, 'Wedensday': 3}

In [41]:
a['Thursday']=4
print (a)

{'Monday': 1, 'Tuesday': 2, 'Wedensday': 3, 'Thursday': 4}

In [42]:
a.update({'Friday':5,'Saturday':6})
print (a)

{'Monday': 1, 'Tuesday': 2, 'Wedensday': 3, 'Thursday': 4, 'Friday': 5, 'Saturday': 6}

In [43]:
'Wedensday' in a

True

In [45]:
d = {'one': 1, 'two': 2, 'three': 3, 'four': 4, 'five': 5, 'six': 6} 
print (f'The sorted dictionar is: {sorted (list(d))}')

The sorted dictionar is: ['five', 'four', 'one', 'six', 'three', 'two']

In [46]:
[value for (key, value) in sorted (d.items())]

[5, 4, 1, 6, 3, 2]

In [48]:
sorted (list(d), key =d.__getitem__, reverse = True)

['six', 'five', 'four', 'three', 'two', 'one']

In [51]:
def wordcount (fname):
    try:
        fhand= open (fname)
    except:
        print (f'File cannot be openned')
        exit()
    count = dict ()
    for line in fhand: 
        words = line.split()
        for word in words: 
            if word not in count:
                count[word]= 1
            else:
                count [word]+= 1
    return count

In [52]:
count = wordcount('alice.txt')
print (f'The rwords detected are: {count}')

The rwords detected are: {'Enhance': 1, 'circular': 1, 'bio-based': 1, 'systems': 2, 'to': 1, 'operate': 1, 'within': 2, 'planetary': 1, 'boundaries,': 1, 'replacing': 1, 'fossil-based': 1, 'and': 6, 'their': 1, 'carbon': 1, 'footprint,': 1, 'mitigating': 1, 'climate': 1, 'change,': 1, 'restoring': 1, 'biodiversity': 1, 'protecting': 1, 'air,': 1, 'water': 1, 'soil': 1, 'quality': 1, 'along': 1, 'the': 2, 'supply': 1, 'chain': 1, 'of': 1, 'biological': 1, 'feedstocks': 1, 'industrial': 1, 'value': 1, 'chains': 1, 'EU': 1, 'Associated': 1, 'Countries': 1, 'across': 1, 'borders': 1}

In [53]:
filtered = {key: value for key, value in count.items() if value <20 and value > 16}
print (f'The filtered values are: {filtered}')

The filtered values are: {}

## Sets

In [54]:
s1 = set ()
s1.add (1)
s1.add (2)
s1.add(3)
s1.add (4)
print (f'The generated set is: {s1}')

The generated set is: {1, 2, 3, 4}

In [55]:
s1.remove (4)
print (f'The new set is: {s1}')

The new set is: {1, 2, 3}

In [56]:
s1.discard (3)
print (f'The discarded value are: {s1}')

The discarded value are: {1, 2}

In [57]:
s1.clear()
print (f'The clear set makes as a result: {s1}')

The clear set makes as a result: set()

In [58]:
s1 = {'ab', 3,4, (5,6)}
s2 = {'ab', 7, (7,6)}
print (f'The difference between sets are: {s1-s2}')
print (f'The intersection between the sets are: {s1.intersection(s2)}')
print (f'The union between the sets are: {s1.union(s2)}')

The difference between sets are: {3, 4, (5, 6)}
The intersection between the sets are: {'ab'}
The union between the sets are: {'ab', 3, 4, (5, 6), (7, 6), 7}

## ChainMap

In [59]:
import collections
dict1 = {
    'a':1,
    'b':2,
    'c':3,
}
dict2 = {
    'd': 4,
    'e': 5
}

chainmap = collections.ChainMap(dict1, dict2)
print (f'The chainmap created is: {chainmap}')

The chainmap created is: ChainMap({'a': 1, 'b': 2, 'c': 3}, {'d': 4, 'e': 5})

In [64]:
print (f'The values of the chainMap are: {chainmap.values}')
cm2 = chainmap.new_child({'f': 4})
print (f'The new created chainmap has the following values: {cm2}')

The values of the chainMap are: <bound method Mapping.values of ChainMap({'a': 1, 'b': 2, 'c': 3}, {'d': 4, 'e': 5})>
The new created chainmap has the following values: ChainMap({'f': 4}, {'a': 1, 'b': 2, 'c': 3}, {'d': 4, 'e': 5})